spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/gymapp_dev
    driver-class-name: org.postgresql.Driver
    username: sergio
    password: dev

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: always
